################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RazorMoviePages/.vs/RazorMoviePages/v16/Server/sqlite3
